ul.drop {
  display: none;
}
ul.showDrop {
  display: block;
}
ul.showDrop li {
  background: var(--color-second);
  color: #fff;
  padding: 0.5rem;
  min-width: 200px;
}
li.dropItem {
  margin-bottom: 1rem;
}
.dropItem label {
  cursor: pointer;
}
.dropItem a {
  font-size: 0.75rem;
}
.dropItemCollapse {
  display: none;
  margin-top: 0.5rem;
}
.dropItemCollapse.show {
  display: inherit;
}
.dropItemCollapse a {
  border-bottom: solid 1px #333;
  margin: 0.5rem 0rem;
}
.dropItemCollapse a:last-child {
  border-bottom: none;
}

@media (min-width: 1000px) {
  li.dropDown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li.dropDown:hover::after {
    filter: brightness(0) saturate(100%) invert(12%) sepia(64%) saturate(4194%)
      hue-rotate(346deg) brightness(112%) contrast(104%);
  }
  li.dropDown::after {
    all: unset;
    content: url('/icons/down.svg') !important;
    background-repeat: no-repeat !important;
    display: block;
    margin-left: 0.3rem !important;
    margin-bottom: 0.3rem !important;
  }
  li.dropItem {
    background: #fff !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.22) !important;
    color: #000 !important;
    margin-bottom: 0;
    padding: 0.5rem !important;
    width: 10rem !important;
  }
  li.dropItem:first-child {
    border-radius: 0.938rem 0.938rem 0 0;
  }
  li.dropItem:last-child {
    border-radius: 0 0 0.938rem 0.938rem;
  }
  li.dropItem > label:hover {
    background: rgba(180, 18, 24, 0.32);
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 0.5rem;
  }
  ul.showDrop {
    position: absolute;
    top: 100%;
    padding: 0.5rem;
    width: 10rem;
    z-index: 999;
  }
}

@media (min-width: 1200px) {
  ul.container {
    all: unset !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 0rem !important;
    font-size: 1rem !important;
  }
}
