.dropdownHidden {
  display: none;
}
.dropdownShow {
  background: #fff;
  min-width: 100%;
  min-height: 100px;
  padding: 0.75rem;
  position: absolute;
  right: 0;
  border-radius: 0.75rem;
  margin-top: 0.3rem;
  min-width: 165px;
  box-shadow: 0px 2.4845px 18.6337px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.dropdownHeader span {
  font-size: 0.875rem;
  font-weight: 500;
}
.input_group {
  width: 100%;
}
.input_group label {
  margin-bottom: 0.5rem;
  font-size: 0.625rem;
  font-weight: 500;
}
.input_group select,
.input_group input {
  width: 100%;
  border-radius: 0.625rem;
  padding: 0.225rem;
}
