.Filter {
  background: var(--color-black);
  padding: 0.875rem 1rem;
  border-radius: 1.125rem;
  margin: auto;
  width: 95%;
  max-width: 1000px;
}
.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.options {
  display: flex;
  gap: 0.875rem;
  flex-wrap: wrap;
}
.options label {
  font-size: 10px;
  color: #fff;
  border: solid 0.3px #fff;
  border-radius: 18px;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  cursor: pointer;
}

.options label.active {
  background: var(--color-primary);
  border: solid 0.3px var(--color-primary);
}
.options input[checked='checked'] {
  display: none !important;
}
.inputSearch {
  width: 100%;
  padding: 0.313rem 0.75rem;
  border-radius: 0.375rem;
  height: 2.8rem;
}
.Dropdown {
  position: relative;
  flex: none;
}
.Dropdown button {
  background: var(--color-primary);
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.dropdownHidden {
  display: none;
}
.dropdownShow {
  background: #fff;
  min-width: 100%;
  min-height: 100px;
  padding: 0.75rem;
  position: absolute;
  right: 0;
  border-radius: 0.75rem;
  margin-top: 0.3rem;
  min-width: 165px;
  box-shadow: 0px 2.4845px 18.6337px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.dropdownHeader span {
  font-size: 0.875rem;
  font-weight: 500;
}
.input_group {
  width: 100%;
}
.input_group label {
  margin-bottom: 0.5rem;
  font-size: 0.625rem;
  font-weight: 500;
}
.input_group select,
.input_group input {
  width: 100%;
  border-radius: 0.625rem;
  padding: 0.225rem;
}
