.sectionHeader {
  background-color: #000;
  color: #fff;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
}
.sectionHeader span {
  color: var(--color-primary);
}
@media (min-width: 1000px) {
  .sectionHeader {
    font-size: 2rem;
    justify-content: flex-start;
  }
}
