#sectionCard h2 {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
#sectionCard .grid {
  display: grid;
  gap: 1.25rem;
}

.modalForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modalForm button {
  background: var(--color-primary);
  color: #fff;
  border: none;
  width: 100%;
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}
.inputs {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  text-align: start;
}
.inputs label {
  display: block;
  font-weight: bold;
}
.inputs select {
  width: 100%;
  padding: 0.5rem;
}
.inputs input {
  width: 100%;
  padding: 0.5rem;
}
.RD_Form {
  padding: 1.5rem;
}
.RD_Form_Box {
  background: rgb(164, 166, 172);
}
.RD_Form_Box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.RD_Form_Box form button {
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.75rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.RD_Form_Box form input {
  padding: 0.5rem;
  width: 100%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputGroup label {
  font-size: 0.875rem;
  color: #333;
}
.RD_Alert {
  color: #333 !important;
  font-size: 0.875rem;
  text-align: start;
  font-weight: 500 !important;
}
@media (min-width: 700px) {
  #sectionCard .grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 80vw;
    margin: auto;
  }
}
@media (min-width: 1000px) {
  #sectionCard h2 {
    font-size: 2rem;
  }
  #sectionCard .grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 80vw;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  #sectionCard .grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 80vw;
    gap: 5rem;
    margin: auto;
  }
}
