#Carousel {
  position: relative;
  top: 0rem;
  padding: 0;
}
.carouselHeader {
  background: var(--color-white);
  color: var(--color-primary);
  font-weight: bold !important;
  padding: 0.56rem 1.25rem 0.7rem;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 8px;
  left: 1.625rem;
  transform: translateY(-100%);
  font-size: 1.25rem;
  border: none;
}
